<h1>{{ courseType }}</h1>
<section class="row content">
	<aside class="col-2">
		<ul class="list-group">
			<li class="cursor list-group-item text-center bg-hover" *ngFor="let note of notes" (click)="onClick(note)"><a>{{ note.name }}</a></li>
		</ul>
	</aside>
	
	
	<section class="col-10">
		<app-notedetails [selectNote]="selectNote"></app-notedetails>
	</section>
</section>
