<article *ngIf="selectNote" class="card">
	<header class="card-header bg-secondary">
		<h2 class="text-center text-light">{{ selectNote.name }}</h2>
	</header>
	<section class="card-">
		<h3 class="card-title ms-2">Chapitre : {{ selectNote.chapter }}</h3>
		<p class="card-text ms-4">{{ selectNote.content }}</p>
	</section>
</article>