<header class="principal bg-secondary ">
  <nav class="navbar navbar-expand-lg navbar-light mx-5">

    <a class="navbar-brand text-light" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <section class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/subject/1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/subject/2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Typescript</a>
        </li>
      </ul>
    </section>

  </nav>

</header>


<main class="container-md mx-auto mt-4">
  <router-outlet></router-outlet>
</main>