<h1>Accueil</h1>

<article class="col-12 card">
	<header class="card-header">
		<h2>{{ randomNote.name }}</h2>
	</header>
	<section class="card-body">
		<h3 class="card-title">Chapitre : {{ randomNote.chapter }}</h3>
		<p class="card-text">{{ randomNote.content }}</p>
	</section>
</article>